@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Rubik, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.svg');
    background-size: cover;
    background-attachment: fixed;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}

.container {
    width: 450px;
    height: 590px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 16px;
    opacity: 80%;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #675EF3;
}

/* form */
.form {
    width: 95%;
}

.form-group {
    height: 56px;
    font-size: 16px;
}

label {
    position: relative;
    bottom: 3px;
}

input {
    width: 100%;
    height: 24px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.4s;
}

input:valid {
    border: 1.2px solid #675EF3;
}

input:invalid {
    border: 1.2px solid red
}

button {
    cursor: pointer;
    color: white;
    background: #675EF3;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}

button:hover {
    /* filter: brightness(150%); */
    background-color: blueviolet;
}

button:focus {
    outline: none;
}

.message-container {
    border: 1px solid #675EF3;
    border-radius: 5px;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: smaller;
    height: 40px;
    color: #675EF3;
    /* font-weight: 300; */
}

#message {
    font-weight: 400;
}

/* Placeholder */
::placeholder {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: smaller;
}

input {
    font-family: Rubik, sans-serif;
}